body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.nav-bar {
  height: 40px;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0px 30px;
  align-items: center;
}

.content-container {
  height: 88vh;
  padding: 0px 30px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .content-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .content-container .right-div {
    margin-left: 0px;
  }

  .content-container .left-div {
    margin-right: 0px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .content-container .left-div {
    color: black;
  }

  .content-container .right-div .bg-image .contact {
    padding-left: 0px;
  }

  .content-container .right-div .bg-image .platforms {
    padding-left: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 380px) {
  .content-container .left-div {
    font-size: 16px;
  }

  .content-container .right-div {
    font-size: 16px;
  }

  .info {
    padding-bottom: 5px !important;
    padding-left: 10px !important;
  }

  .about-me {
    padding-bottom: 20px !important;
    padding-left: 10px !important;
  }
}

.left-div {
  flex: 1;
  margin-top: 25px;
  margin-right: 10px;
  color: black;
  font-size: 24px;
}

.left-div {
  min-height: 380px;
}

.right-div {
  min-height: 380px;
}

.bg-image-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/test2.jpg');
  background-size: cover;
}

.info {
  padding-bottom: 10px;
  padding-left: 50px;
}

p {
  display: inline-block;
  position: relative;
}

.about-me {
  padding-left: 50px;
  padding-bottom: 50px;
}

p::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact {
  padding-left: 60px;
  margin-bottom: 20px;
}

.right-div {
  flex: 1 1;
  margin-top: 25px;
  margin-left: 10px;
  color: white;
  font-size: 24px;
}

.bg-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/test.jpg');
  background-size: cover;
}

.platforms {
  padding-left: 50px;
  display: flex;
  width: 300px;
  margin-left: 10px;
  justify-content: space-evenly;
}

i {
  color: white;
}

i:hover {
  color: #747474;
}

.footer {
  position: fixed;
  bottom: 0px;
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}
